[submodule "GreenHousev2/src/arm/nlohmann-json"]
    path = GreenHousev2/src/arm/nlohmann-json
    url = https://github.com/Mad-ness/json.git
#[submodule "gpio_cb2"]
#    path = GreenHousev2/src/arm/gpio_cb2
#    url = https://github.com/Mad-ness/gpio_cb2.git
[submodule "GreenHousev2/src/arm/simple-url-parser"]
    path = GreenHousev2/src/arm/simple-url-parser
    url = https://github.com/Mad-ness/simple-url-parser.git
[submodule "GreenHousev2/src/arm/librf24-sunxi"]
    path = GreenHousev2/src/arm/librf24-sunxi
    url = https://github.com/Mad-ness/librf24-sunxi.git

[submodule "GreenHousev2/src/arm/crypto"]
	path = GreenHousev2/src/arm/crypto
	url = https://github.com/Mad-ness/crypto-algorithms.git
