[submodule "nlohmann"]
    path = GreenHousev2/src/arm/nlohmann-json
    url = git@github.com:Mad-ness/json.git

[submodule "gpio_cb2"]
    path = GreenHousev2/src/arm/gpio_cb2
    url = git@github.com:Mad-ness/gpio_cb2.git

[submodule "GreenHousev2/src/arm/urlparser"]
	path = GreenHousev2/src/arm/urlparser
	url = https://github.com/netmindms/urlparser.git
[submodule "GreenHousev2/src/arm/c_urlparser"]
	path = GreenHousev2/src/arm/c_urlparser
	url = https://github.com/jacketizer/libyuarel.git
